# vim: ft=config

# Configuation for ngrok tunnel, eg: https://93a7-178-140-11-63.ngrok-free.app

USE_LOGS_SERVER = True
LOGS_SERVER_PREFIX = "https://"
# Start ngrok tunnel for logging server (don't forget to add the following ngrok address to vercel's LOGS_SERVER_HOST parameter, and re-deploy the project)
LOGS_SERVER_HOST = "3655-94-25-170-204.ngrok-free.app"
# Logs sending port (443 for ngrok tunnel, 8541 for local server)
LOGS_SERVER_PORT = 443
# VERCEL_LOGS_SERVER_PORT = 443
