# vim: ft=config

# Local running flag
LOCAL = True

# ngrok tunnel to a local host (for a tg bot or logging server, see `ngrok-tunnel` npm script command)
WEBHOOK_HOST = "https://c677-178-140-11-63.ngrok-free.app"

# PostgreSQL database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tubecaster
DB_USER=postgres
DB_PASSWORD=
DB_TEST_NAME=tubecaster_test

# SYSLOG_PORT = 3514
