# vim: ft=config

# Configuation for ngrok tunnel, eg: https://93a7-178-140-11-63.ngrok-free.app

USE_LOGS_SERVER = True
LOGS_SERVER_PREFIX = "https://"
# Start ngrok tunnel for logging server (don't forget to add the following ngrok address to vercel's LOGS_SERVER_HOST parameter, and re-deploy the project)
LOGS_SERVER_HOST = "7784-94-25-168-62.ngrok-free.app"
# Local port
LOGS_SERVER_PORT = 443
VERCEL_LOGS_SERVER_PORT = 8443
