❯ poetry remove pydub librosa
Updating dependencies
Resolving dependencies... (0.2s)

Package operations: 0 installs, 0 updates, 15 removals

  - Removing audioread (3.0.1)
  - Removing decorator (5.1.1)
  - Removing joblib (1.4.2)
  - Removing lazy-loader (0.4)
  - Removing librosa (0.10.2.post1)
  - Removing llvmlite (0.43.0)
  - Removing numba (0.60.0)
  - Removing numpy (2.0.2)
  - Removing pooch (1.8.2)
  - Removing pydub (0.25.1)
  - Removing scikit-learn (1.5.2)
  - Removing scipy (1.14.1)
  - Removing soundfile (0.12.1)
  - Removing soxr (0.5.0.post1)
  - Removing threadpoolctl (3.5.0)
